table#customerbalance-history .col {
	width: auto;
}
.cart-discount.cart-bss-store-credit
{
	.bss-store-credit
	{
		.title {
			text-align: left;
		}
	}
}
#new_wlname {
	border-radius: 50px;
}
#create_wishlist .content {
	padding-top: 5px;
}

#reorder_product .action-reorder button.bt-reoderproduct {
	width: auto;
}
body#html-body {
	overflow: scroll;
	margin: 5% 0;
}
#bss-form-add-question .row {
	display: block;
}