table#customerbalance-history .col {
	width: auto;
}
.cart-discount.cart-bss-store-credit
{
	.bss-store-credit
	{
		.title {
			text-align: left;
		}
	}
}
#new_wlname {
	border-radius: 50px;
}
#create_wishlist .content {
	padding-top: 5px;
}

#reorder_product .action-reorder button.bt-reoderproduct {
	width: auto;
}
body#html-body {
	overflow: scroll;
	margin: 5% 0;
}
#bss-form-add-question .row {
	display: block;
}
#custom-field-form .control p {
	display: -webkit-box;
}
.products-grid.wishlist {
	.actions-primary {
		button {
			margin-bottom: 10px;
		}
	}
	.actions-toolbar {
		margin-top: 30px;
	}
}
body.cms-fast-order {
	.page-main {
		.page-title-wrapper {
			margin: 0;
		}

		.messages {
			padding: 0;
		}
		.toolbar .icon-down {
			top: 20px;
		}
	}

	.breadcrumbs + #maincontent .page-title-wrapper {
		margin: 0;
	}

	#bss-fastorder-form .bss-search-input2 {
		min-height: 68px;
	}

	.sorter .sorter-action {
		vertical-align: middle;
	}
}
#bss_comment_tab #bss-list-questions-container .review-toolbar .pager.bss .action {
	vertical-align: middle;
}
.bss-ptd-table #bss-ptd-table {
	width: 100%;
	tbody tr.bss-table-row {
		border-left: 1px solid #f5f5f5;
		border-right: 1px solid #f5f5f5;
	}
}
div.field[name*="bss_custom_field"] .control p {
	display: -webkit-box;
}
.alsoview-list .actions-primary  {
	.action.tocart.primary {
		background: #f0f3f6;
		color: #263c97;
	}
	.action.tocart.primary:hover {
		background: #13a8c5;
		color: #ffffff;
	}
}